<h1>Make your form here</h1>

<form action="/articles" method="post">
  title: <input type="text" name="title">
  content: <input type="text" name="content">
  <input type="submit" value="Submit">
</form>